<br />
<h3>LOGGED OUT SUCCESSFULLY</h3>
<br />
<button class="btn btn-success" (click)="login()">LOGIN</button>

<br /><br />

<div class="container bg-success">
  <div class="box">
    <input type="checkbox" id="card1" />
    <label for="card1">
      <div class="reversible">
        <div class="card tile-back">
          <div class="card-body" style="background: rgb(107, 177, 107);">
            <p>Click to display back</p>
          </div>
        </div>
        <div class="card tile-front">
          <div class="card-body">
            <p>Click to display front</p>
          </div>
        </div>
      </div>
    </label>
  </div>
  <div class="box">
    <input type="checkbox" id="card3" />
    <label for="card3">
      <div class="reversible">
        <div class="card tile-back">
          <div class="card-body" style="background: rgb(107, 177, 107);">
            <p>Click to display back</p>
          </div>
        </div>
        <div class="card tile-front">
          <div class="card-body">
            <p>Click to display front</p>
          </div>
        </div>
      </div>
    </label>
  </div>
  <div class="box">
    <input type="checkbox" id="card2" />
    <label for="card2">
      <div class="reversible">
        <div class="card tile-back">
          <div class="card-body" style="background: rgb(107, 177, 107);">
            <p>Click to display back</p>
          </div>
        </div>
        <div class="card tile-front">
          <div class="card-body">
            <p>Click to display front</p>
          </div>
        </div>
      </div>
    </label>
  </div>
  <div class="box">
    <input type="checkbox" id="card4" />
    <label for="card4">
      <div class="reversible">
        <div class="card tile-back">
          <div class="card-body" style="background: rgb(107, 177, 107);">
            <p>Click to display back</p>
          </div>
        </div>
        <div class="card tile-front">
          <div class="card-body">
            <p>Click to display front</p>
          </div>
        </div>
      </div>
    </label>
  </div>
  <div class="box">
    <input type="checkbox" id="card6" />
    <label for="card6">
      <div class="reversible">
        <div class="card tile-back">
          <div class="card-body" style="background: rgb(107, 177, 107);">
            <p>Click to display back</p>
          </div>
        </div>
        <div class="card tile-front">
          <div class="card-body">
            <p>Click to display front</p>
          </div>
        </div>
      </div>
    </label>
  </div>
</div>
